<div class="container" style="margin-left: 30%;">
  <form class="form-group" action="/home" method="post" style="width: 50%">
    <label for="">Tên đăng nhập: </label>
    <input type="text" name="" value="" class="form-control">
    <label for="">Họ tên: </label>
    <input type="text" name="" value="" class="form-control">
    <label for="">Tỉnh: </label>
    <select class="form-control" name="">

    </select>
    <label for="">Quận: </label>
    <select class="form-control" name="">
        <option value=""></option>
    </select>
    <label for="">Số nhà/Phường</label>
    <input type="text" name="" value="" class="form-control">
    <label for="">Số điện thoại: </label>
    <input type="text" name="" value="" class="form-control">
    <label for="">Email: </label>
    <input type="email" name="" value="" class="form-control">
    <label for="">Mật khẩu: </label>
    <input type="password" name="" value="" class="form-control">
    <label for="">Nhập lại mật khẩu:  </label>
    <input type="password" name="" value="" class="form-control">
    <label for="">Nhận thông tin khuyến mãi</label>
    <input type="checkbox" name="" value="1">
    <p><button type="submit" name="button">ĐĂNG KÝ</button></p>

  </form>
</div>
