<script type="text/javascript">
  $(document).ready(function(){
    $(".sanpham").mouseover(function(){
      var id = $(this).attr('id');
      var id_over = "#"+id;
      $(id_over).css({"opacity":"0.5"})
    });
    $('.sanpham').mouseout(function(){
      var id = $(this).attr('id');
      var id_over = "#"+id;
      $(id_over).css({"opacity":"1"})
    });
  });
</script>

<% @spbongda.each do |item| %>
<div class="col-md-4 text-center">
  <%= image_tag item.hinhanh, :alt=>"Ao Bong Da", :class=>"sanpham img-responsive", :id=>item.id %>
      <p> <strong> <%= item.tensanpham %> </strong> </p>
      <p> <strong>  Giá bán: <strong> <%= item.gia %> Đồng </strong> </p>
    <div class="text-center">
          <a href="/home/sanpham/<%=item.id%>" id="datmua"><button type="button" name="button">ĐẶT MUA</button></a>
    </div>
</div>

<% end %>
